/* WeatherKitty.css Version 240829.15 */

#WeatherKittyBody {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

#WeatherKittyHeader {
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 0.5em;
  text-align: left;
  overflow: hidden;
  z-index: 1000;

  display: flex;
}

#WeatherKittySpacer {
  flex-grow: 1;
}

/* height: 4.5em / 72px; */
#WeatherKittyWidget {
  /* border: red 1px solid; */
  flex: 0 1 auto;
  width: 9.5em;
  height: 4.5em;
  display: flex;
}

#WeatherKittyCurrent {
  /* border: green 1px solid; */
  text-wrap: pretty;
  hyphens: auto;
  text-align: center;
  align-content: end;
  width: 5em;
  height: 4.5em;
  box-sizing: border-box;
  margin-right: 0.5em;
  padding: 0.15em;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0.05em 0.05em 0 black, -0.05em -0.05em 0 black,
    -0.05em 0.05em 0 black, 0.05em -0.05em 0 black;

  background-image: url("img/spacer.png");
  background-size: cover;
  background-position: center;
}

#WeatherKittyForecast {
  /* border: blue 1px solid; */
  text-wrap: pretty;
  hyphens: auto;
  text-align: center;
  align-content: end;
  box-sizing: border-box;
  width: 4.5em;
  height: 4.5em;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0.05em 0.05em 0 black, -0.05em -0.05em 0 black,
    -0.05em 0.05em 0 black, 0.05em -0.05em 0 black;

  background-image: url("img/WeatherKittyC.jpeg");
  background-size: cover;
  background-position: center;
}

/* cjm */
null [tooltip]::before {
  display: none;

  position: absolute;
  content: attr(tooltip);
  opacity: 0;
  z-index: 2000;
}

null [tooltip]:hover::before {
  opacity: 1;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

#WeatherKittyToolTip {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em;
  border-radius: 0.5em;

  transition: all 0.33s;
  translate: 100% -100%;
  width: 15em;
  height: auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  border: black 3px solid;
  opacity: 0;
}

#WeatherKittyWidget:hover {
  #WeatherKittyCurrent,
  #WeatherKittyForecast {
    transition: all 0.33s;
    opacity: 0.5;
  }
  #WeatherKittyToolTip {
    color: white;
    transition: all 0.33s;
    translate: 0% 0%;
    width: 15em;
    height: auto;
    opacity: 1;
    /* overflow: visible; */
  }
}

#weatherspacer {
  font-size: 1em;
}
