html,
body {
  height: 100%;
  margin: 0;

  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: grey;
}

main {
  height: 100%;
  background-color: skyblue;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#About {
  flex: 1 0 auto;
  background-image: url("ChocolateCat.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-wrap: nowrap;
  place-items: center;
  place-content: center;
}

#AboutArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  place-content: center;
}

/* OPTION: White/Shadow on ... */
#AboutArticle {
  font-weight: bolder;
  color: white;
  text-shadow: black 1px 1px 0px, black -1px -1px 0px, black 1px -1px 0px,
    black -1px 1px 0px, black 2px 2px 0px, black -2px -2px 0px,
    black 2px -2px 0px, black -2px 2px 0px;
  padding: 0.25em 0.5em 0.5em 0.5em;
}
/* On Black Box */
#AboutArticle {
  border: black 3px solid;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.33);
}

/* *********************** */
/* GAME STYLES */

#Game {
  flex: 1 0 auto;
  background-image: url("MeetMyCat.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-wrap: nowrap;
  place-items: center;
  place-content: center;
  display: none;
}

#GameArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  place-content: center;
}

#GameArticle {
  font-weight: bolder;
  color: white;
  text-shadow: black 1px 1px 0px, black -1px -1px 0px, black 1px -1px 0px,
    black -1px 1px 0px, black 2px 2px 0px, black -2px -2px 0px,
    black 2px -2px 0px, black -2px 2px 0px;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

/* On Black Box */
#GameArticle {
  border: black 3px solid;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.33);
}

#GameArticle h1,
#GameArticle h2,
#GameArticle h3 {
  margin: 0.25em;
}

#GameArticle h1 {
  font-weight: bolder;
}

#GameArticle ul {
  list-style: none;
}

.Answer {
  padding-left: 1.5em;
  color: rgb(128, 128, 128);
  opacity: 0.67;
}

#DemoMessage {
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: black 3px solid;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 0.1em 0.5em;
  color: white;
  font-size: x-small;
}

#PowerButton {
  /* border: black 5px solid; */
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 25%;
}

#PowerButton > img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  width: 32px;
  height: 32px;
}
