.QuestionStructure {
  /* border: white 1px solid; */
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0.5em;
}

.hidden {
  display: none;
  opacity: 0;
}

#ListOfQuestions {
  padding: 0;
}

/* TB/LR TRBL */
.Radio {
  border: 0;
  /* border: red 1px solid; */
  flex-shrink: 0;
  margin: 0 0.5em 0 0;
  padding: 0;
  label {
    display: block;
  }
}

.Question,
.Answer {
  /* border: green 1px solid; */
  margin: 0.1em 0 0 0;
}

.Answer {
  padding-left: 1.5em;
  color: rgb(192, 192, 192);
}

.True {
  color: skyblue;
}
.False {
  color: lightpink;
}

.Wrong {
  background-color: rgba(255, 255, 0, 0.25);
}

.WrongIsTrue {
  background-color: rgb(128, 128, 255, 0.25);
}

.WrongIsFalse {
  background-color: rgb(255, 128, 128, 0.25);
}
